#home-cta{margin-top:0px;}
#donate-desc{text-align:center;}
#us-pic{margin-top:0;}
#donate-desc{text-align:center;}
ion-icon { font-size: 50px; color:white;}
.sns-container li{list-style:none;padding:10px; margin:auto;}
.sns-container {display:flex; flex-direction:row;}
.donate-section{  margin-top: 20px; margin-bottom:10px;}
.don-fig{width:400px;}
.donate-form{font-weight:bold; text-align:center; margin:auto;font-size:40px; margin-bottom:25px;}
.license{display:flex; flex-direction:row;}
#donate-text{padding-top:50px;}
.don-fig{width:400px;}
.doc-form {
  padding:15px;
  box-shadow: 15px 15px 0px 0 rgb(70, 70, 70);
  border:rgb(92, 92, 92) solid 3px;
  border-radius:5px;
  width:80%;
  margin:auto;
  margin-bottom:20px;

  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "give"
    "amount"
    "name-tel"
    "email"
    "card-num-exp"
    "card-name-cvs"
    "submit";
}
/**inputs
.name-input, .cvs-input, .exp-input, .card-name-input,.card-num-input, .tel-input, .give-input,.email-input, .regular, .once, .ten,.twentyfive,.fifty, .org **/
.submit{ grid-area:submit; text-align: center;}
.card-name-cvs {
  display: grid;
  grid-template-columns: 0.8fr 1.6fr 0.6fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "card-name-title card-name-input cvs-title cvs-input";
  grid-area: card-name-cvs;
}

.card-name-title { grid-area: card-name-title; }

.cvs-title { grid-area: cvs-title; }

.card-name-input { grid-area: card-name-input; }

.cvs-input { grid-area: cvs-input; }

.card-num-exp {
  display: grid;
  grid-template-columns: 0.8fr 1.6fr 0.6fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "card-num-title card-num-input exp-title exp-input";
  grid-area: card-num-exp;
}

.card-num-title { grid-area: card-num-title; }

.card-num-input { grid-area: card-num-input; }

.exp-title { grid-area: exp-title; }

.exp-input { grid-area: exp-input; }

.name-tel {
  display: grid;
  grid-template-columns: 0.8fr 1.6fr 0.6fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "name-title name-input tel-title tel-input";
  grid-area: name-tel;
}
.name-title { grid-area: name-title; }
.tel-title { grid-area: tel-title; }
.name-input { grid-area: name-input; }
.tel-input { grid-area: tel-input; }

.email {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "email-title email-input";
  grid-area: email;
}

.email-input { grid-area: email-input; }

.email-title { grid-area: email-title; }

.give {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "give-title give-input";
  grid-area: give;
}
.give-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "regular once";
  grid-area: give-input;
}
.regular { grid-area: regular; }
.once { grid-area: once; }
.give-title { grid-area: give-title; }

.amount {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "amount-title amount-1 amount-2";
  grid-area: amount;
}
.amount-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "ten twentyfive";
  grid-area: amount-1;
}
.ten { grid-area: ten; }

.twentyfive { grid-area: twentyfive; }
.amount-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "fifty org";
  grid-area: amount-2;
}
.fifty { grid-area: fifty; }
.org { grid-area: org; }
.amount-title { grid-area: amount-title; }

.don-title{text-align:left; margin:auto; font-weight:bold;}
.give, .amount, .name-tel, .email, .card-num-exp, .card-name-cvs, input{  font-size: 25px;
  padding:10px;
  margin: auto 0px;
}

input{width: 100%;font-size:20px; height:40px;}
/*#tel-title, #exp-title, #cvs-title{text-align:left; }*/

#org{margin:0;}
#org-input, .short {width:100px;}
#org-input{margin: 5px; height:60px; width:200px;}




#report-desc{text-align:left;}
.menu-icon{font-weight:bolder;, font-size:20px;}
.syria-text{display:flex; flex-direction:column;}

#report{cursor:pointer;}
.strong-blue{display:contents;font-weight:bold; color: rgba(55, 125, 206)}
#blue-about{text-indent: -10px; }
.activities{padding-bottom: 40px;}
#crisis-pic{margin-top:150px; width:100%; margin-bottom:0;}
#crisis-text{margin-top:200px;}
#home-pic{margin-bottom:0; width:100%}

#helps{padding:25px;}
.what-text {
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "what-title"
    "what-desc";
  grid-area: what-text;
}

.syria-phrase {width:80%; margin: auto; text-align: center; font-weight:bolder; font-size: 5vw; }



.what-picture { grid-area: what-picture; }

.what-work {
  margin:auto;
  width:100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.fr 0.fr 0.fr;
  gap: 0px 0px;
  grid-template-areas:
    "what-work-title"
    "syria-work-desc"
    "what-work-pic";
  grid-area: what-work;
}

.what-work-title {font-weight: bold; font-size: 2vw; width:50%;grid-area: what-work-title; padding:25px; margin-top:100px;}

.syria-work-desc { text-align: left; font-size: 1.5vw; margin: 0 auto; width:80%}
.report-desc { padding: 20px; text-align: center; font-size: 1.5vw; margin: 0 auto; width:100%}
.what-work-pic {margin: auto;padding: 0 25px; width:100%; grid-area: what-work-pic; }

.what-help-title {font-weight: bold; font-size: 2vw; width:50%;grid-area: what-work-title; padding:25px; margin-top:100px;}

.what-help-desc { text-align: center; font-size: 1.5vw; margin: 0 auto; width:100%;grid-area: syria-work-desc; }

.what-help-pic {margin: auto;padding: 0 25px; width:100%; grid-area: what-work-pic; }

.syria-help-title {
  font-weight: bold; font-size: 2vw;
  padding:25px;
  margin:auto;
  width:100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-weight: normal;
  box-sizing: border-box;
  outline: none;

}
h2{
  text-align:center;
  margin: auto;
}
a {
  font-weight: bolder;
  color: #000;
}
/*Contact Form*/
.contact-form{
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;

  background: rgb(255,255,255);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}


.input-fields, .msg{
  width:48%;
}
.input-fields .input, 
.msg textarea{
  margin: 10px 0;
  border: 0;
  border-bottom: 2px solid black;
  padding: 10px;
  color:black;
  width:100%;

}

.msg textarea{
  height: 200px;
}
::-webkit-input-placeholder, .keep-text{
  color:black; font-size:1vw;
}

.btn{
  background: blue;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: pink;
  cursor: pointer;
}
.checkbox{
  height:
}

.acnc-logo{margin: auto;}
/* header */

.header { 
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  font-size: 1.2vw;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  align-items: flex-end;
  justify-content: center;
}

.menu a:hover {
  color: rgba(55, 125, 206);
  //background-color: #F4B57A;
}
.menu a.active, .active{
  border-bottom: 3px solid #F4B57A;
}



.header li a {
  align-items:center;

  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  margin: auto;
  display: block;
  float: left;
  font-size: 2em;
  width:20%;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  font-size:20px;
  display: inline-block;
  float: right;
  padding: 40px 35px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 50%;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}


.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*index*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1.4fr 0.4fr 1.3fr 0.7fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "picture text"
    "quote quote"
    "us our-work"
    "cta cta"
    "footer footer";
}

.header{grid-area: header; padding-top: 50px; padding-bottom: 30px;}


.header, .about-title .phrase, .us-title .work-title, .cta-msg, .license,.contact, {
  margin: auto;
}

 .phrase-desc, .about-desc, .us-desc, .work-desc, .syria-work-desc, .syria-phrase-desc{
  text-indent:2em; 

  padding: 15px;
}

.text {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "phrase"
    "phrase-desc";
  grid-area: text;
}

.phrase { margin: auto; grid-area: phrase; text-align: center; font-weight:bolder; font-size: 5vw; }

.phrase-desc { grid-area: phrase-desc; font-size: 1.5vw; text-indent:3em; padding:0 40px; }

.picture { grid-area: picture; }

.footer {
  padding-top:20px;
  display:flex;flex-direction: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "license contact";
  grid-area: footer;
}

.license {flex: 1;grid-area: license; text-align: center; margin:auto;}

.contact {flex: 1; font-size: 30px; text-align: center; font-weight:bold; grid-area: contact; margin:15px;}

.us {
  padding-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "us-title"
    "us-desc";
  grid-area: us;
}
img{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;}

.syria-work-title{width:100%; font-weight: bold; font-size: 2vw; padding:25px; margin-top:100px;}

.syria-work-title, .syria-help-title, .syria-work-title, .us-title, .work-title, .phrase, .cta-msg{ text-align:center;
margin: 0 auto;
}
.quote {
  width:100%;
  margin: auto;
  text-align:center;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: quote;
  font-size: 2vw;
}
.us-title { margin: auto; grid-area: us-title; font-weight: bold; font-size: 2vw; }
.us-title, .work-title, .syria-work-title{padding: 20px 100px;}
.syria-work-title, .us-title, .work-title, .quote, .footer, .syria-help-title{
  background-color:rgba(55, 125, 206); color:white;
}
.us-desc { margin: 25px; grid-area: us-desc; font-size: 1.5vw;padding: 15px; }

.our-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "work-title"
    "work-desc";
  grid-area: our-work;
}


.work-title { margin: auto; grid-area: work-title; font-weight: bold; font-size: 2vw; }

.work-desc { margin: 25px; grid-area: work-desc; padding: 15px;  font-size: 1.5vw;}

.cta {
  margin-top:250px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "cta-msg"
    "cta-button";
  grid-area: cta;
}

.cta-msg { grid-area: cta-msg; font-weight: bolder; font-size: 5vw; }

.cta-button { align-items: center; grid-area: cta-button; margin: auto; }

button{
  cursor:pointer;
}

.syria-phrase-desc { padding:40px; font-size: 1.5vw; margin: auto;width:100%; }
.donate-button{
  text-align: center;
  font-weight: bold;
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.5em;
  border: none;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 25px;
  color:black;
  background-color:rgb(255, 169, 88);
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  position:relative;
  transition: all 0.3s;
}
.donate-button:hover{
transform: scale(1.08);
}

button:focus {outline:0;}


button:active{
  top: 0.1em;
}

/*About-grid*/

.activities{display:flex;flex-direction: row; width:500px, height:500px; margin:auto;}

figure{margin: 25px;}
figcaption{font-size:1.2vw; margin:0 10px;}

.radios{ display:flex;flex-direction: row;}
.about-menu {
  padding-top:50px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "who our-goal our-value";
  grid-area: about-menu;
}

.who { grid-area: who; }

.our-goal { grid-area: our-goal; }

.our-value { grid-area: our-value;}


.content {
  display: flex;
  flex-direction:row;
  margin-right: 20px;  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "about-text about-pic";
  grid-area: content;
}

.about-pic { grid-area: about-pic; }

.about-text {
  width:100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "about-title"
    "about-desc";
  grid-area: about-text;
}

.about-title { width:70%; margin: auto; text-align: center; font-weight:bolder; font-size: 2vw; grid-area: about-title; }

.about-desc { hyphens: auto; text-align: left; width: 90%; margin: auto; grid-area: about-desc; font-size:1.5vw;}

 .who, .our-goal, .our-value{
      padding-top:50px;
 }

/*RADIO BUTTONS*/

.about-menu input, .radios input{
	display: none;
  margin: 0 100px 0 100px;
}
.about-menu label, .radios label{
  border-radius: 5px;
  font-weight:bold;
	display: grid;
	cursor: pointer;
  min-width: 250px;
	margin: auto;
	padding: 20px 20px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 25px;
  text-align: center;
	line-height: 1;
	transition: .2s;
}

#ten,#twentyfive,#fifty{margin-right:20px;}

.about-menu input[type="radio"]:checked + label, .radios input[type="radio"]:checked + label {
	background-color: rgba(55, 125, 206);
	color: #fff;
}

.about-container{display:grid;} /*whole thing*/
.about-front-container{
  display: flex;
  flex-direction: row;
}

.about-pic{
  flex:1;
}

.about-text{
  flex:1;
}

.us-container{
  display: flex;
  flex-direction: row;
}

.us-pic{flex:1;}
.us-text{flex:1;}



/* RESPONSIVE */
@media (min-width: 48em) { /*laptop*/
img{  margin-top:-15px;}
.us{padding-top:0px;}
  .header li {
    float: left; padding-top:10px;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.donate-flex{display:flex; flex-direction: column; background:blue;}
#name-tel{display:flex; flex-direction:row;}
.container{
  padding-bottom: 35px;
  overflow:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  border: 3px solid green;
}
.own{
  margin:-40px, auto;
  border: 3px solid red;
}
.own, .name, .contact{
  display:block;
  margin:auto;}

.name, .contact{
  display: flex;
  flex-direction: row;
}

.name label, .contact label{
	display: block;
	cursor: pointer;

	margin: 5px;
	padding: 12px 5px;
	color: #555e64;
	font-size: 25px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
input {
  line-height: 2;
  font-size: 25px;

}

.contact{display:flex; flex-direction: column;}
.sample{
  margin:auto;
}
.sample input{
	display: none;
}
.sample label{
	display: block;
	float: left;
	cursor: pointer;
  min-width: 100px;
	//max-width: 100px;
	margin: 5px;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 25px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.sample label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.sample label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
.sample input[type="radio"]:checked + label {
	background-color: #a1b91d;
	color: #fff;
}

.syria-container, .us-container{display:flex; flex-direction:row;}
.syria-text{flex:1;margin:auto; }
.syria-pic{flex:1;}
.what-container{display:flex; flex-direction: column;}
.what-front-container{
  width:100%;
  display: flex;
  flex-direction: row;
  margin-top: 150px;

}

.what-pic{
  flex:1;
}

.what-text{
  flex:1;
}

.what-work-container{
  display: flex;
  flex-direction: row;
}

.what-work-pic{flex:1;}
.what-work-text{flex:1;}

.syria-work-container{display:flex; flex-direction:column;}
.syria-work-title{flex:0.2;}
.syria-work-desc{flex:0.2;}
.syria-work-pic-container{flex:0.6; display:flex; flex-direction:row; margin:auto; }

.syria-help-container{display:flex; flex-direction:column;}
.syria-help-title{flex:0.2;}
.syria-help-pic-container{margin: auto; flex:0.8; display:flex; flex-direction:row; }

/*MOBILE */
@media screen and (max-width: 48em){
  .contact{flex-direction:column;}
  .contact-form{min-width:90%;}
    #name-tel{flex-direction: column;}
  .what-pic{margin-top:-80px;}

  .about-title{font-size:35px;}
  ::-webkit-input-placeholder, .keep-text{
  color:black; font-size:20px;}
  .footer{font-size:3.5vw;}
  .syria-work-title, .syria-help-title, .syria-help-title{padding:5px;}
    #crisis-pic, #crisis-tex{margin-top:30px;}
 
  .contact-form, .activities, .content, .syria-container, .syria-help-pic-container, .syria-work-pic-container, .what-front-container, .us-container{
    flex-direction: column;
  }

  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
  .grid-container, .about-grid-container, .what-contaner{
    display:block;
  }
   .about-menu label, .radios label{
    font-size:30px; margin-bottom:20px;
  }
 /*radio buttons line up in column*/
  .radios, .footer{flex-direction: column; justify-content: space-between; }
.about-title{font-size:5vw;}
  .cta-msg, .work-title, .quote, .us-title, .syria-work-title, .syria-help-title,  .about-desc{
    font-size:25px;
  }
.phrase-desc{font-size:20px;}
  .us-desc,.syria-help-title, .syria-work-desc, .syria-phrase-desc, .work-desc, .header ul{
    font-size: 20px;
  }
  .cta-msg, .contact{font-size: 30px;}
  .header{padding: 0px;} 
  .picture, .text, .us, .our-work, .cta, .footer, .about-text,.about-pic{
    width:100%;
    min-height: 200px;
    padding-bottom: 40px;
  }
    .us{padding-top: 40px;}

  .picture{
    padding-top:75px; padding-bottom:0;
  }
  .quote{padding: 20px;}

    #home-picture{
    padding-top:63px;
  }
  figcaption{font-size:20px;}

  .phrase{font-size:40px;}
  .give, .amount, .name-tel, .email, .card-num-exp, .card-name-cvs, .give-input, .amount-1, .amount-2{
    display: flex; flex-direction: column; }

  .name-input, .cvs-input, .exp-input, .card-name-input,.card-num-input, .tel-input, .give-input,.email-input, .regular, .amount-1, .amount-2, #org{
    margin:auto;
  }
  #org-input{width:250px;}
  #ten,#twentyfive,#fifty{margin-right:0;}
  .don-fig{width:300px;}


  .header .logo {width:250px; padding-top:20px;}

  .license{display:flex; flex-direction:column;}

  

  
}

#don-img{height:200px; width:200px;}
#don-img figcaption{width:200px;}