.impact-container{display:grid;} /*whole thing*/
.impact-front-container{
  display: flex;
  flex-direction: row;
}

.impact-pic{
  flex:1;
}

.impact-text{
  flex:1;
}

.accom-container{
  display: flex;
  flex-direction: row;
}
.accom-text{}

.us-pic{flex:1;}
.us-text{flex:1;}