*{
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-weight: normal;
  box-sizing: border-box;
  outline: none;

}

/*whats happening*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "picture text"
    "what-menu what-menu"
    "what-picture what-text"
    "what-exp what-exp-media"
    "what-work what-work"
    "what-help what-help"
    "cta cta"
    "footer footer";
}

.header { grid-area: header; }

.picture { grid-area: picture; }

.text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "phrase"
    "phrase-desc";
  grid-area: text;
}

.phrase { grid-area: phrase; }

.phrase-desc { grid-area: phrase-desc; }

.what-menu { grid-area: what-menu; }

.what-picture { grid-area: what-picture; }

.what-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "what-phrase"
    "what-desc";
  grid-area: what-text;
}

.what-phrase { grid-area: what-phrase; }

.what-desc { grid-area: what-desc; }

.what-exp {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "what-exp-title"
    "what-exp-desc";
  grid-area: what-exp;
}

.what-exp-title { grid-area: what-exp-title; }

.what-exp-desc { grid-area: what-exp-desc; }

.what-exp-media { grid-area: what-exp-media; }

.what-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "what-work-title"
    "what-work-picture";
  grid-area: what-work;
}

.what-work-title { grid-area: what-work-title; }

.what-work-picture { grid-area: what-work-picture; }

.what-help {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "what-help-title what-help-title what-help-title"
    "what-help1 what-help2 what-help3";
  grid-area: what-help;
}

.what-help-title { grid-area: what-help-title; }

.what-help1 { grid-area: what-help1; }

.what-help2 { grid-area: what-help2; }

.what-help3 { grid-area: what-help3; }

.cta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "cta-msg"
    "cta-button";
  grid-area: cta;
}

.cta-msg { grid-area: cta-msg; }

.cta-button { grid-area: cta-button; }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "contact license";
  grid-area: footer;
}

.contact { grid-area: contact; }

.license { grid-area: license; }

h2{
  text-align:center;
  margin: auto;
}
a {
  font-weight: bolder;
  color: #000;
}

/*Contact Form*/
.contact-form{
  max-width: 550px;
  margin: 0 auto;
  background: rgb(255,255,255);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px black;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields, .msg{
  width:48%;
}
.input-fields .input, 
.msg textarea{
  margin: 10px 0;
  border: 0;
  border-bottom: 2px solid red;
  padding: 10px;
  color:red;
  width:100%;

}

.msg textarea{
  height: 200px;
}

::-webkit-input-placeholder{
  color:black;
}

.btn{
  background: blue;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: pink;
  cursor: pointer;
}
.checkbox{
  height:
}

.acnc-logo{
  width:100px;
  height:500px;
}
/* header */

.header { 
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  font-size: 1.2vw;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  align-items: flex-end;
  justify-content: center;
}

.menu a:hover {
  color: rgba(55, 125, 206);
  //background-color: #F4B57A;
}
.menu a.active{
  border-bottom: 3px solid #F4B57A;
}

.header li a {
  align-items:center;

  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  border: 2px solid purple;
  display: block;
  float: left;
  font-size: 2em;
  width:15%;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 50%;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*index*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.4fr 0.4fr 1.3fr 0.7fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "picture text"
    "quote quote"
    "us our-work"
    "cta cta"
    "contact license";
}

.header{grid-area: header; padding-top: 50px; padding-bottom: 30px;}


.header, .picture, .phrase, .us-title .work-title, .cta-msg, .license,.contact, .quote{
  margin: auto;
}

.us, .our-work{
  max-height: 300px;
}

.phrase-desc, .us-desc, .work-desc{
  text-indent:2em; 
  padding: 0 25px;
}
.quote {
  width:100%;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: quote;
  font-size: 2vw;
}


.text {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "phrase"
    "phrase-desc";
  grid-area: text;
}

.phrase { margin: auto; grid-area: phrase; text-align: center; font-weight:bolder; font-size: 5vw; }

.phrase-desc { grid-area: phrase-desc; font-size: 2vw; }

.picture { grid-area: picture; }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "license contact";
  grid-area: footer;
}

.license { grid-area: license; }

.contact { grid-area: contact; }

.us {
  padding-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "us-title"
    "us-desc";
  grid-area: us;
}
img{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;}


.us-title, .work-title, .phrase, .quote, .cta-msg{ text-align:center;
margin: auto;
}
.us-title { grid-area: us-title; font-weight: bold; font-size: 2vw; }
.us-title, .work-title{padding: 20px 100px;}
.us-title, .work-title, .quote, .contact, .license{
  background-color:rgba(55, 125, 206); color:white;
}
.us-desc { grid-area: us-desc; font-size: 1.5vw;padding: 15px; }

.our-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "work-title"
    "work-desc";
  grid-area: our-work;
}

.work-title { grid-area: work-title; font-weight: bold; font-size: 2vw; }

.work-desc { grid-area: work-desc; padding: 15px;  font-size: 1.5vw;}

.cta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "cta-msg"
    "cta-button";
  grid-area: cta;
}

.cta-msg { grid-area: cta-msg; font-weight: bolder; font-size: 5vw; }

.cta-button { align-items: center; grid-area: cta-button; margin: auto; }

button{
  cursor:pointer;
}

.donate-button{
  text-align: center;
  font-weight: bold;
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.5em;
  border: none;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 25px;
  color:black;
  background-color:rgb(255, 169, 88);
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  position:relative;
  transition: all 0.3s;
}
.donate-button:hover{
transform: scale(1.08);
}

button:focus {outline:0;}


button:active{
  top: 0.1em;
}

/*About-grid*/
.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.4fr 0.3fr 1.4fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "picture text"
    "about-menu about-menu"
    "content content"
    "contact license";
}
.about-menu {
  border:solid 3px red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "who our-goal our-value";
  grid-area: about-menu;
}

.who { grid-area: who; }

.our-goal { grid-area: our-goal; }

.our-value { grid-area: our-value;}


.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "about-text about-pic";
  grid-area: content;
}

.about-pic { grid-area: about-pic; }

.about-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "about-title"
    "about-desc";
  grid-area: about-text;
}

.about-title { grid-area: about-title; }

.about-desc { grid-area: about-desc; }

 .who, .our-goal, .our-value{
      padding-top:50px;
 }

/*RADIO BUTTONS*/

.about-menu input{
	display: none;
  margin: 0 100px 0 100px;
}
.about-menu label{
  border-radius: 5px;
  font-weight:bold;
	display: block;
	cursor: pointer;
  min-width: 100px;
	margin: auto;
  //width:60%;
	padding: 12px 20px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 25px;
  text-align: center;
	line-height: 1;
	transition: .2s;
}

.about-menu input[type="radio"]:checked + label {
	background-color: rgba(55, 125, 206);
	color: #fff;
}

/* RESPONSIVE */
@media (min-width: 48em) { /*laptop*/
.us{padding-top:0px;}
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/*MOBILE */
@media screen and (max-width: 48em){ 
  .contact-form{
    flex-direction: column;
  }

  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
  .grid-container, .about-grid-container, about-menu{
    display:block;
  }
  .about-menu label{
    font-size:4vw;
  }

  /*radio buttons line up in column*/

  .cta-msg, .work-title, .quote, .phrase-desc, .us-title{
    font-size:4vw;
  }

  .us-desc, .work-desc, .header ul{
    font-size: 3vw;
  }
  .header{padding: 0px;}
 .text, .picture, .us, .our-work, .cta, .footer{
    width:100%;
    min-height: 200px;
    padding-bottom: 40px;
  }
    .us{padding-top: 40px;}

  .picture{
    padding-top:15px;
  }
  .quote{padding: 20px;}

  
}